%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{cover_enabled, true}.
{erl_opts, [debug_info,
%            warnings_as_errors, warnings are from oauth
            {parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.

{deps,
 [
  {lager, ".*",
   {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {decouch, ".*",
   {git, "git@github.com:opscode/decouch.git", {branch, "master"}}},
  {oc_erchef, ".*",
   {git, "git@github.com:opscode/oc_erchef.git", {branch, "master"}}},
  {envy, ".*",
   {git, "git@github.com:manderson26/envy.git", {branch, "master"}}},
  {eper, ".*",
   {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
