%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{cover_enabled, true}.
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform}]}.

{sub_dirs, ["rel", "apps/moser"]}.

{deps,
 [
  {decouch, ".*",
   {git, "git@github.com:manderson26/decouch.git", {branch, "master"}}},
  {chef_db, ".*",
   {git, "git@github.com:opscode/chef_db.git", {branch, "ma/oc-4550"}}},
  {envy, ".*",
   {git, "git@github.com:manderson26/envy.git", {branch, "master"}}},
  {eper, ".*",
   {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
