%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{cover_enabled, true}.
{erl_opts, [debug_info,
%            warnings_as_errors, warnings are from oauth
            {parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.

{deps,
 [
  {lager, ".*",
   {git, "https://github.com/basho/lager", {branch, "master"}}},
  {decouch, ".*",
   {git, "https://github.com/chef/decouch", {branch, "master"}}},
  {envy, ".*",
   {git, "https://github.com/manderson26/envy", {branch, "master"}}},
  {ej, ".*",
   {git, "https://github.com/seth/ej", {branch, "master"}}},
  {eper, ".*",
   {git, "https://github.com/massemanet/eper", {branch, "master"}}},
  {oc_erchef, ".*",
    {git, "https://github.com/opscode/oc_erchef", {tag, "1.0.0.1"}}}
]}.

{cover_enabled, true}.
